<!DOCTYPE html>
<html>
<head>
    <title>Resume Analyzer</title>
</head>
<body>
    <h2>Upload Your Resume</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">

    <input type="file" name="resume" required>

    <br><br>

    <label>Select Job Role:</label>
    <select name="role" required>
        <option value="">-- Select Role --</option>
        <option value="backend">Backend Developer</option>
        <option value="frontend">Frontend Developer</option>
        <option value="cloud">Cloud Engineer</option>
    </select>

    <br><br>

    <button type="submit">Analyze Resume</button>
</form>
</body>
</html>
